body{
    background-color: papayawhip;
        position: fixed;
}

h1{
    line-height: 150%;
    font-size: 400%;
    font-family: AR JULIAN;
         
        color: rosybrown; 
        width: 96; align-content: center;
        align-content: center;
        justify-content: center;
    text-align:center;
    align-items:baseline;
    margin: 100px;
    margin-bottom: 0px;
    padding: 0%
    
}



header {
   text-align: center;
    font-family: AR JULIaN;

}

div .summary{
    font-family: Bahnschrift;
    text-align: center;
    margin: 36px;
    margin-top: 0px;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 150px
}


 h3 {
    font-family: ar julian;
     border: 10px solid rosybrown; background-color: rosybrown; 
    color: whitesmoke;
     text-align: center;
    }


.preamble {
    border: 10px double floralwhite;
    margin-bottom: 30px;
    margin-left: 300px;
    margin-right: 300px;
    font-family: bahnschrift;
    padding: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
   }



.explanation {
    border: 10px double floralwhite;
    margin-bottom: 30px;
    margin-left: 300px;
    margin-right: 300px;
    font-family: bahnschrift;
    padding: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}


.participation {
    border: 10px double floralwhite;
    margin-bottom: 30px;
    margin-left: 300px;
    margin-right: 300px;
    font-family: bahnschrift;
    padding: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}


.benefits {
    border: 10px double floralwhite;
    margin-bottom: 30px;
    margin-left: 300px;
    margin-right: 300px;
    font-family: bahnschrift;
    padding: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}


.requirements {
    border: 10px double floralwhite;
    margin-bottom: 30px;
    margin-left: 300px;
    margin-right: 300px;
    font-family: bahnschrift;
    padding: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}


#design-selection {
   border: 10px double floralwhite;
    margin-bottom: 30px;
    margin-left: 1250px;
    margin-right: 1250px;
    font-family: bahnschrift;
    padding: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    align-content: center;
}

footer {
    text-align: center;
}

.design-archives {
    border: 10px double floralwhite;
    margin-bottom: 30px;
    margin-left: 1250px;
    margin-right: 1250px;
    font-family: bahnschrift;
    padding: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    align-content: center;
}

.zen-resources {
    border: 10px double floralwhite;
    margin-bottom: 30px;
    margin-left: 1250px;
    margin-right: 1250px;
    font-family: bahnschrift;
    padding: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    align-content: center;
}


}
.navigation {
    color: saddlebrown;
}


